<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.imdp.instaclimb"
  android:versionCode="2"
  android:versionName="0.2.0" >

  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="18" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-feature android:name="android.hardware.camera" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/launcher_icon"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >

    <!-- Splash Screen Activity-->
      <activity
          android:name="com.imdp.instaclimb.SplashScreen"
          android:label="@string/app_name"
          android:screenOrientation="portrait" />

    <!-- CameraActivity Activity-->
      <activity
          android:name="com.imdp.instaclimb.CameraActivity"
          android:screenOrientation="portrait" >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <!-- Show Capture Activity -->
      <activity
          android:name="com.imdp.instaclimb.ShowCapture"
          android:screenOrientation="portrait"
          android:label="@string/title_activity_show_capture"
          android:theme="@style/AppTheme"/>
  </application>

</manifest>
